<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>Product App</title>
    <link rel="styleSheet" type="text/css" href="style.css">
  </meta>

  <body>

	<div class="nav-bar"></div>

	<div id="app">

		<div class="product">

			<div class="product-image">
				<img :src="image">
			</div>

			<div class="product-info">
				<h1> {{ product }}</h1>
				<p v-show="inStock">In Stock</p>
				<p v-if="onSale">On Sale!!</p>
			<!--	<p v-if="inventory > 10 ">In Stock</p>
				<p v-else-if="inventory <10 && inventory > 0">Almost sould our!
				<p v-else>Out of Stock</p> -->

				<ul>
					<li v-for="detail in detail">{{ detail }}</li>
				</ul>

				<div v-for="variant in variants" :key="variant.variantId">
					<p>{{ variant.variantColor }}</p>
				</div>

				<div v-for="coment in ArraySizes" :key="coment.comentarios.commentId">
					<p>{{ comentarios.variantColor }} </p>
				</div>

			</div>
			
			<div class="url-page">
				<a :href="anchortag" target="_blank">Visit google.com!</a>
			</div>
		</div>
	</div>


    <script src="https://unpkg.com/vue@2.1.4/dist/vue.js"></script>
    <script src="main.js"></script>

   

  </body>
</html>